a {
    background-color: transparent; 
    text-decoration: none;
    color: #0073c3;
}

a:hover {
    color: #00cd00;
}

body {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
    background: #222222;
    color: #ffffff;
	padding-top: 1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin: 0 auto;   
    max-width: 50rem;
}

div {
	text-align: center;
    background: #111111;
    padding-right: 0.75vw;
    padding-left: 0.75vw;
    border-style: solid;
    border-color: #0073c3;
    border-radius: 1.5vw;
    border-width: 0.15vw;
    margin-bottom: 5vh;
}

footer {
    background: #222222;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 0.9rem;
}

#number {
	margin: 0px;
	padding: 0px;
	width: 120px;
	height: 30px;
	border-radius: 5px;
}


#button {
	margin: 0px;
	padding: 0px;
	width: 70px;
	height: 30px;
	border: 0.15vw solid #0073c3;
	border-radius: 10px;
	background-color: #222222;
	color: #eeeeee;
}

